<html>

<head>
    <?php
    require("vue/head.tpl");
    ?>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="vue/styles/styleAnim.css" media="screen" type="text/css" />
</head>
<br><br><br><br>

    <?php
    require("vue/baniere.tpl");
    ?>


<body onload="myFunction()" style="margin:0;">

<div id="loader">
<h1>Bienvenue dans le site</h1>
<center>
<img src="vue/images/niark.png">
</img>
</center>
</div>


<div style="display:none;" id="myDiv" class="animate-bottom">
    <div class="container-fluid">
        <div class="row">
          
			<div class="col-md-3">  <?php
            require("vue/professeur/profMenu.tpl");
            ?></div>
			
            <!-- <div class="elements"> -->
			
                <div class="col-md-7">
				<div id="content">
                   
				
                    
                        <!-- tester si l'utilisateur est connecté -->
                        <?php
                        if ($_SESSION['prof'] !== null) {
                            $user = $_SESSION['prof']['prenom'];

                            echo "Bonjour $user ! ";
                        }
                        ?>
						<center>
                        <?php
                        $tabTests = afficher_test();
                        require("vue/professeur/ListeTests.tpl");
                        ?>
						</center>
						
                      
                      


 
                        <?php
                       // require("vue/professeur/MenuProf.tpl");
                      //  ?>

</div>
                    </div>
                    </div>
                </div>
				<div class="col-md-2"></div>
            </div>
        <!-- </div> -->
</div>


<script>
var myVar;

function myFunction() {
  myVar = setTimeout(showPage, 3000);
}

function showPage() {
  document.getElementById("loader").style.display = "none";
  document.getElementById("myDiv").style.display = "block";
}
</script>

</body>
</html>


</html>