<html>

<head>
    <?php
    require("vue/head.tpl");
    ?>
</head>




<body>
    <?php
    require("vue/baniere.tpl");
    ?>
    <div class="container-fluid">
        <div class="row">
            <?php
            require("vue/professeur/profMenu.tpl");
            ?>
            <div class="elements">
                <div class="col-md-10">

                    <div id="content">
                        <!-- tester si l'utilisateur est connecté -->
                        <?php
                        if ($_SESSION['prof'] !== null) {
                            $user = $_SESSION['prof']['prenom'];

                            echo "Bonjour $user ! ";
                        }
                        ?>
                        <?php
                        $tabTests = afficher_test();
                        require("vue/professeur/ListeTests.tpl");
                        ?>

  <!-- tester si l'utilisateur est connecté  -->
                      



                    </div>
                </div>
            </div>
        </div>
</div>
        <div>
            <a href="index.php?controle=professeur&action=deconnexion"> Se déconnecter </a>
        </div>


</body>

</html>