<html>

<head>
    <?php
    require("vue/head.tpl");
    ?>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="vue/styles/styleAnim.css" media="screen" type="text/css" />
</head>
<br><br>

    <?php
    require("vue/baniere.tpl");
    ?>


<body>





    <div class="container-fluid">
        <div class="row">
          
			<div class="col-md-3">  <?php
            require("vue/professeur/profMenu.tpl");
            ?></div>
			
            <!-- <div class="elements"> -->
			
                <div class="col-md-7">
				<div id="content">
					
					<center>
                    
                        <!-- tester si l'utilisateur est connecté -->
                        <?php
                        if ($_SESSION['prof'] !== null) {
                            $user = $_SESSION['prof']['prenom'];

                            echo "Bonjour $user ! ";
                        }
                        ?>
						
						
                        <?php
                        $tabTests = afficher_test();
                        require("vue/professeur/ListeTests.tpl");
                        ?>
						</center>
						</div>
						


</div>

                    
                </div>
				<div class="col-md-2"></div>
            </div>
        <!-- </div> -->
</div>



</body>
</html>
