<html>
<head>
    <link rel="stylesheet" href="styleAccueil.css" media="screen" type="text/css" />
</head>
<body>
    <div>
		
		
	</div>
        <h2> Lancer un test existant : </h2><br>
        <?php
        $cpt = 0;
            foreach($tabTests as $test) {
				$cpt = $cpt +1;
                if ($test['id_prof'] == $_SESSION['prof']['id_prof']) {
                    $actif = ($test['bActif'] == 0) ? "" : "[ACTIF]";
                    $groupe = ($test['num_grpe'] == "0") ? "promo info" : $test['num_grpe'];
                    echo ("  
					<div class='ctn'> -->
					<a href='index.php?controle=professeur&action=lancer_test&test=".$test['id_test']."> 
					
					<div class='fond'>
					".$test['titre_test']. "  pour ". $groupe. " " . $test['date_test'] . " ".$actif." <br>
					
					
					</div>
					</div>
                    </a>
                    
					");
						
                    
                }
            }
            if ($cpt == 0){
                echo("Vous n'avez pas encore crée de test");
            }
        ?>
    </div>


</html>

