			<h2> Services </h2>
	<hr/>
	<ul>
		<li>
		<div class="fond1">
		<a href='index.php?controle=utilisateur&action=ident'
			title='action d identification du controle utilisateur' '>
			Préparer des sessions de tests  </a></div></li>
			<li>
		<div class="fond1">
		<a href='index.php?controle=contact&action=liste_c&idu=1' title='action affichage contacts utilisateur 1'>
			Lancer des sessions de questions  </a></div></li>
			<li>
		<div class="fond1">
		<a href='index.php?controle=contact&action=liste_c&idu=2' title='action affichage contacts utilisateur 2'>
			Créer des questions </a></div></li>
			<li>
		<div class="fond1">
		<a href='index.php?controle=utilisateur&action=accueil' title='action affichage contacts utilisateur 2'>
			Gérer les tests en cours </a></div></li>
		
		
	</ul>
	<hr/>		
	<ul>

		<a href='index.php' title='index.php sans paramètre'>
			lancement simple</a></ul>

	<hr/>
            