<html>

    <div class="vertical-menu">
        <a href="#" class="active">QCM en ligne</a>
        <a href="index.php?controle=professeur&action=accueilSimple">Accueil</a>
        <a href="#">Mon dossier</a>
        <a href="#">Moodle</a>
        <a href="#">Messagerie</a>
        <a href="#">Mes tests</a>
        <a href="#">Mon calendrier</a>
        <a href="#">Tous mes services</a>
    </div>

</html>