<html>

<head>
    <?php
    require("vue/head.tpl");
    ?>
</head>

<body>
    <?php
    require("vue/baniere.tpl");
    ?>
    <div class="container-fluid">
        <div class="row">
            

            <?php
            require("vue/etudiant/etuMenu.tpl");
            ?>

            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="elements">
<div class="cadre1">
                <center>

                    <div id="content">
                        <!-- tester si l'utilisateur est connecté -->
                        <?php
                        if ($_SESSION['etu'] !== null) {
                            echo "Bonjour " . $_SESSION['etu']['prenom'] ."!!!! ";
                        }
                        ?>
                        <br>
                        <div> 
                            <?php
                            require("vue/etudiant/ListeTestsEtu.tpl");
                            ?>
                            </div>
                    </center>
 
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>

</html>