<html>
<div class="col-lg-2 col-md-2 col-sm-12">
    <div class="vertical-menu">
        <a href="#" class="active">QCM en ligne</a>
        <a href="index.php?controle=etudiant&action=accueil">Accueil</a>
        <a href="index.php?controle=etudiant&action=bilan">Mes Bilans</a>
        <a href="#">Moodle</a>
        <a href="#">Messagerie</a>
        <a href="#">Mes tests</a>
        <a href="#">Mon calendrier</a>
        <a href="#">Tous mes services</a>
    </div>
</div>

</html>