<html>
    <div>
        <h2> Questions : </h2>
        <?php
        $cpt = 0;
            foreach($tabQuest as $quest) {
                echo($quest['titre']. " ( ". $quest['texte'] . " ) </br>");
                echo("<i> -- > Réponses </i></br>");
                foreach($tabRep as $rep){
                    if($quest['id_quest'] == $rep['id_quest']) {
                        echo(" -------- ".$rep['texte_rep']. " -- ".$rep['bvalide']."</br>");
                    }
                }
                echo("</br>");
                $cpt = $cpt +1;
            }
            if ($cpt == 0){
                echo("ce test ne contient pas encore de questions");
            }
        ?>
    </div>
</html>
