<html>
<div>
    <form action="index.php?controle=gestionReponses&action=enregistrer_rep" method="POST">

<div class="card" style ='width:30%'>
  <div class="card-body">
    <h5 class="card-title">
        <?php echo('<div>
               
               Question ' . $_SESSION['etu']['indiceQuest'] . ' : ' . $quest['titre'] . '
                <p>
                ' . $quest['texte'] . '</br>');?>
    </h5>
 
    <p class="card-text">
        
    
    
   <?php    foreach($tabrep as $rep){
                    if($quest['id_quest'] == $rep['id_quest']){
                        echo('<input type = "checkbox"
                            id = "repp"
                            name="reponses[]"
                            value = "'.$rep['id_rep'].'" />
                        <label for = "repp">'.$rep['texte_rep'].'</label></br>');
                    }
                }

            echo('</p>
               
                <input type="submit" id="submit" value="Valider">
        </div>
        </div>
        </div>
        
        
        ');?></p>
    
    

    </form>
           

</html>