body {
	background: #f7f1f3;
	margin-top: 5%;
}

header {
	position: fixed;
	background-color: #a5203a;
	top: 0;
	width: 100%;
	padding: 20px;
	left: 0;
	color: white;
	z-index: 1;
}

@media(min-width:992px) {

/* Création d'un cadre contenant un texte et des images*/
.cadre1{
background-color: white;
border-radius: 1px;
border-width: 1px;
 border-style:solid;
 border-color:black;
 padding:50px;
 margin-bottom:6%;
 height:100%;

}
}


.bandeau_infos {
	margin-left: 80%;
	margin-top: -2.5%;
}

.elements {
	margin-top: 0;
	margin-left: 2%;
}

.vertical-menu {
	width: 200px;
	/* Set a width if you like */
	margin-left: 0;
	margin-top: 0.70%;
}

.vertical-menu a {
	background-color: #eee;
	/* Grey background color */
	color: black;
	/* Black text color */
	display: block;
	/* Make the links appear below each other */
	padding: 12px;
	/* Add some padding */
	text-decoration: none;
	/* Remove underline from links */
}

.vertical-menu a:hover {
	background-color: #ccc;
	/* Dark grey background on mouse-over */
}

.vertical-menu a.active {
	background-color: #c2144e;
	/* Add a green color to the "active/current" link */
	color: white;
}

/* #content {
	width: 100%;
} */

