<html>
<header>

    IUT Paris Descartes
    <div class="bandeau_infos">
        <a href="#" style="color: white;">Mon compte</a>
        <a href="index.php?controle=professeur&action=deconnexion" style="color: white;"> Se déconnecter </a>
    </div>
</header>


</html>